.env
*.py[co]
**__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.pytest_cache

# VSCode IDE 
*.code-workspace
.history
.vscode

# Environments (Let for demo)
# *_env
containers/influxdb/data/*
containers/chronograf/data/*